/*@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);*/
@font-face {
  font-family: "BTC";
  src: url('../dist/fontcache/BTC.ttf') format('truetype');
}
html, body {
  margin: 0;
}

.page-container {
}

header {
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}

.title {
  font-family: 'Ubuntu+Mono', monospace;
  margin: 0;
  color: #2386ff;
}

.container {
  margin: 5em 10em 5em 10em;
  padding: 1em;
  text-align: center;
  border: 0.5em solid gray;
}

.eventList, .playerList, .teamList {
  /*cursor: pointer;*/
  width: 100%;
  margin: 1em 0 1em 0;
  padding: 0;
}

.litem {
  display: block;
  text-align: center;
}

.litem a {
  width: 100%;
  color: #414131;
  text-decoration: none;
  transition: 0.1s; /* Transition effects on hover (color) */
}

.litem :hover, .litem :focus {
  color: #f10000;
  background-color: #AAAAAA;
}

.litem .dateData {
  float: left;
  width: 6em;
}

.litem .countryFlair {
  float: left;
  width: 2em;
}

.litem .eventName {
  padding: 0 0.5em 0 0.5em;
  width: 25em;
}

.litem .regPlayers {
  width: 7em;
  float: right;
  text-align: right;
}

.playerName {
  display: block;
}

.litem.event, .litem.player, .litem.team {
  margin: auto;
}

/*.litem .placeData {
width: 240px;
}*/

footer {
  border: 10px solid lightblue;
  padding: 0 10px 0 10px;
}

.copyright {
}

.tip {
  float: right;
}

.btc {
font-family: "BTC";
line-height: initial;
}
